<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <h1>
            Shopping List
        </h1>
        <form @submit='addItem' @submit.prevent>
            <label>Qty:
                <input type="number" v-model.number="qty" style="width:5%">
            </label>
            <label>Item:
                <input type="text" v-model="item">
            </label>
            <button>Add</button>
        </form>
        <p>Item Count: {{ total }}</p>
        <ul>
            <li v-for="item in list">
                {{ item.qty }} x {{ item.item }}
            </li>
        </ul>
        <div v-if='true'>A</div>

        <div v-if='false'>B</div>

        <div v-show='true'>C</div>

        <div v-show='false'>D</div>


    </div>
</body>
<style>
    [v-cloak] {
        display: none
    }
</style>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            qty: null,
            total: null,
            item: '',
            list: []
        },
        computed: {},
        methods: {
            addItem: function () {
                if (this.item !== '') {
                    let itemWithQty = {qty: this.qty, item: this.item};
                    this.list.push(itemWithQty);

                    // reset
                    this.item = '';
                    this.qty = null;

                    // add totals
                    let total = 0;
                    this.list.forEach(item => total = total + (item['qty']));
                    this.total = total;
                }
            }
        }
    })
</script>
</html>
