[v-cloak] {
  display: none
}

body {
  background-color: #b3bb8c;
}

#app {
  background-color: #d2daa3;
}

#messagearea {
  background-color: #f7ffbd;
}

/* Fonts */

* {
  font-family: Georgia, Times, serif;
}

/* Buttons  I copied from https://codepen.io/jnbruno/pen/vNpPpW*/

.btn:hover {
  transform: scale(1.1, 1.1);
}