<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Scramble</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        [v-cloak] {
            display: none
        }

        p, div {
            width: fit-content;
        }

        .invalid {
            border-color: #a94442;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js" defer></script>
</head>
<body>
    <div id="app" v-cloak class="p-3">
        <h1>Word Scramble</h1>
        <form v-show="!startGame" @submit='start' @submit.prevent>
            <label>Enter Your Player Name: <input type="text" v-model="name" :class="{'invalid' :invalid}"></label>
            <select class="form-control" v-model.number="difficulty" :class="{'invalid' :invalid}">
                <option value="0" disabled>Choose Your Pain</option>
                <option value="1">Tickle me please</option>
                <option value="2">A little pain, but not too much</option>
                <option value="3">I love pain</option>
            </select>
            <br>
            <button class="btn btn-primary">Let's Play</button>
        </form>
        <div v-if="startGame">
            <p>Game on {{ name }}</p>
            <div style="background-color: #b3bb8c">
                <p>Your mystery word is:<big><big>{{ mysteryWord }}</big></big></p>
                <p>Hint: <i>{{ chosenword[1] }}</i></p>

                <form @submit='check' @submit.prevent>
                    <label>Your guess: <input type="text" v-model.trim="guess"></label>
                    <button class="btn btn-info">submit guess</button>
                </form>

                <p v-if="correct == 2" :class="{ 'bg-danger': correct==2 , 'bg-success': correct==1 }"
                   class="text-white font-weight-bold">
                    Sorry, that's not correct. Please try again.</p>
                <div v-else-if="correct == 1" :class="{ 'bg-danger': correct==2 , 'bg-success': correct==1 }"
                     class="text-white font-weight-bold">
                    <form @submit='playagain' @submit.prevent>
                        You got it! Nice work.
                        <button class="btn btn-light btn-sm">play again</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
