<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js" defer></script>
</head>
<body>
    <div id="app" v-cloak>
        <h1>
            Shopping List
        </h1>
        <form @submit='addItem' @submit.prevent><label>Item: <input type="text" v-model="item"></label>
            <button>Add</button>
        </form>
        <p>Item Count: {{ item_count }}</p>
        <ul>
            <li v-for="item in list">
                {{ item }}
            </li>
        </ul>
    </div>
</body>
</html>
