<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js" defer></script>
</head>

<!-- TEMPLATE FOR OUR COMPONENTS -->
<script type='text/x-template' id='game-pin'>
    <div class="col-3">
        <button type="button" class="btn btn-circle-large active-btn" @click="rotatePin"
                :class="button[activeColourCounter].class"
                :data-color="button[activeColourCounter].class">{{ button[activeColourCounter].name }}
        </button>
    </div>
</script>

<script type='text/x-template' id='checkanswer-pin'>
    <div class="col-6">
        <button type="button" class="btn btn-circle" :class="colour"></button>
    </div>
</script>

<script type='text/x-template' id='game-row'>
    <div class="row gamerow row1 p-1">
        <div class="col-8">
            <div class="row">
                <game-pin :is-old-row="isOldRow" v-for="(pin, index) in pins" :key="index" :index="index"
                          @pinChanged="pinChanged"></game-pin>
            </div>
        </div>

        <div class="col-4">
            <div class="row" v-if="checkAnswer[0]">
                <checkanswer-pin v-for="(pin, index) in checkAnswer[0].black" colour="black"
                                 :key="index"></checkanswer-pin>
                <checkanswer-pin v-for="(pin, index) in checkAnswer[0].white" colour="white"
                                 :key="10+index"></checkanswer-pin>
            </div>
        </div>
    </div>
</script>

<script type='text/x-template' id='ans-row'>
    <div class="row ansrow row1 p-1">
        <div class="col-8">
            <div class="row">
                <div class="col-3" v-for='answer in answers'>
                    <button type="button" class="btn btn-circle-large active-btn"
                            :class="answer.class"
                            :data-color="answer.class">{{ answer.name }}
                    </button>
                </div>
            </div>
        </div>

        <div class="col-4">
        </div>
    </div>
</script>

<body>
    <div id="app" class="main container p-1" v-cloak>

        <div class="row justify-content-center">
            <h2>Mastermind - One Player Edition</h2>
        </div>
        <div class="row justify-content-center p-2">
            <div class="container-fluid col-2">
                Hi, I need some help, here are the game instructions.
                <br><br>
                Try to guess the computer's pins
                <br><br>
                you get a black pin for every pin that is the correct color in the right location.
                <br><br>
                You get a white pin for every pin that is the correct color but wrong location.
                <br><br>
                You win if you get all the combination right within 12 tries!
            </div>
            <div class="container col-8 gameboard border border-primary">
                <ans-row :answers="finalAnswer" v-if="endGame"></ans-row>
                <game-row v-for="(round, index) in rounds" :key='index' ref="index"
                          :class="{ 'inactive-row': !round.isActive }" :is-old-row="rounds[index].isOldRow"
                          :check-answer="recordOfAllAnswers.filter(answer => answer.id == index)"></game-row>

                <div class="container footer">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-info" @click="checkAnswer">Check Answer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid col-2">
                Let's
                <div class="col-6">
                    <button type="button" class="btn btn-info" @click="restart" :disabled="!endGame">Start</button>
                </div>
                another game!
                <br><br>
                This is a running score board
                <br><br>

                <p v-for="(attempt, index) in recordOfAllAttempts">
                    On round {{ index }} the <span v-if="attempt.won">Human</span><span v-else>Computer</span> Won <span
                        v-if="attempt.won"> after {{ attempt.moves }} turn/s</span>

                </p>
                <br><br>
                As well as a chance to
                <div class="col-6">
                    <button type="reset" class="btn btn-info" @click="reset">Reset</button>
                </div>
                all your scores
            </div>
        </div>
    </div>
</body>
</html>
